{:highlights [{:id #uuid "656769f6-ec72-4eda-9b35-b25a7cc2252a",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 413,
                                     :x2 1263.523193359375,
                                     :y2 944.765625,
                                     :width 1349.2922666666666,
                                     :height 1799.0556},
                          :rects ({:x1 0,
                                   :y1 413,
                                   :x2 0,
                                   :y2 434,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}
                                  {:x1 457.796875,
                                   :y1 905.171875,
                                   :x2 1263.523193359375,
                                   :y2 923.171875,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}
                                  {:x1 457.796875,
                                   :y1 926.765625,
                                   :x2 1071.879150390625,
                                   :y2 944.765625,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}),
                          :page 1},
               :content {:text "the predominant use of petroleum-based adhesives in EWPs contributes to the release of toxic gases (e.g. Volatile Organic Compounds (VOCs) and formaldehyde) which are harmful to the environment"},
               :properties {:color "yellow"}}
              {:id #uuid "65676a00-279e-4f87-82b4-36e20a313d36",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 429,
                                     :x2 1262.864501953125,
                                     :y2 966.34375,
                                     :width 1349.2922666666666,
                                     :height 1799.0556},
                          :rects ({:x1 0,
                                   :y1 429,
                                   :x2 0,
                                   :y2 450,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}
                                  {:x1 1121.7138671875,
                                   :y1 926.765625,
                                   :x2 1262.864501953125,
                                   :y2 944.765625,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}
                                  {:x1 457.796875,
                                   :y1 948.34375,
                                   :x2 957.909912109375,
                                   :y2 966.34375,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}),
                          :page 1},
               :content {:text "the use of adhesives in EWPs affects their end-of-life disposal, reusability and recyclabilit"},
               :properties {:color "yellow"}}
              {:id #uuid "65676a0e-a879-44d2-92f8-961fd3409951",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 445,
                                     :x2 1264.014892578125,
                                     :y2 1009.703125,
                                     :width 1349.2922666666666,
                                     :height 1799.0556},
                          :rects ({:x1 0,
                                   :y1 445,
                                   :x2 0,
                                   :y2 466,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}
                                  {:x1 0,
                                   :y1 461,
                                   :x2 0,
                                   :y2 482,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}
                                  {:x1 1143.769775390625,
                                   :y1 948.34375,
                                   :x2 1263.507568359375,
                                   :y2 966.34375,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}
                                  {:x1 457.796875,
                                   :y1 970.125,
                                   :x2 1264.014892578125,
                                   :y2 988.125,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}
                                  {:x1 457.796875,
                                   :y1 991.703125,
                                   :x2 707.2721557617188,
                                   :y2 1009.703125,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}),
                          :page 1},
               :content {:text "dowel laminated timber members and densiﬁed wood materials, which are adhesive free and sustainable alternatives to commonly used EWPs (e.g. glulam and CLT)"},
               :properties {:color "blue"}}
              {:id #uuid "65676a2d-ff57-4ef4-9c57-6e0cc7d0961c",
               :page 1,
               :position {:bounding {:x1 1018.6439208984375,
                                     :y1 991.703125,
                                     :x2 1244.0697021484375,
                                     :y2 1009.703125,
                                     :width 1349.2922666666666,
                                     :height 1799.0556},
                          :rects ({:x1 1018.6439208984375,
                                   :y1 991.703125,
                                   :x2 1244.0697021484375,
                                   :y2 1009.703125,
                                   :width 1349.2922666666666,
                                   :height 1799.0556}),
                          :page 1},
               :content {:text "tight ﬁtting due to spring-back"},
               :properties {:color "red"}}],
 :extra {:page 1}}
