{:highlights [{:id #uuid "649da4dd-a9eb-4c05-98ac-010db682e91d",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 62,
                                     :x2 937.58154296875,
                                     :y2 511.96875,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 651.084228515625,
                                   :y1 482.09375,
                                   :x2 937.58154296875,
                                   :y2 496.09375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 345.15625,
                                   :y1 497.96875,
                                   :x2 616.3026733398438,
                                   :y2 511.96875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 1},
               :content {:text "due to complexity of the analysis–design process, they are rarely utilized in construction design"},
               :properties {:color "yellow"}}
              {:id #uuid "649da4ef-5c3b-4d4c-bfd2-6a4d738dd054",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 78,
                                     :x2 937.56787109375,
                                     :y2 559.78125,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 98,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 712.1741943359375,
                                   :y1 497.96875,
                                   :x2 936.4619140625,
                                   :y2 511.96875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 345.15625,
                                   :y1 513.9375,
                                   :x2 937.56787109375,
                                   :y2 527.9375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 345.15625,
                                   :y1 529.90625,
                                   :x2 937.528076171875,
                                   :y2 543.90625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 345.15625,
                                   :y1 545.78125,
                                   :x2 627.78515625,
                                   :y2 559.78125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 1},
               :content {:text " ‘facilitating’ numerical framework is introduced in which, for a given continuous reference shape, a geometrically similar discrete model is found by implementation of a six degree of freedom formulation of the Dynamic Relaxation method, to handle members bending and torsional stiffness"},
               :properties {:color "green"}}
              {:id #uuid "649da508-8953-4738-9ba0-39e782ae9a17",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 78,
                                     :x2 489.37860107421875,
                                     :y2 903.125,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 98,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 161.87600708007812,
                                   :y1 853.25,
                                   :x2 489.27496337890625,
                                   :y2 868.25,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 70.859375,
                                   :y1 870.734375,
                                   :x2 489.37860107421875,
                                   :y2 885.734375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 70.859375,
                                   :y1 888.125,
                                   :x2 397.11865234375,
                                   :y2 903.125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 1},
               :content {:text "Each element converges to the node of the grid at a different angle, thus non-standard connections (and ComputerAided Manufacturing process) become inevitable"},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
