{:highlights [{:id #uuid "65200694-1297-4d7c-943e-3c3c4c4cc3a6",
               :page 93,
               :position {:bounding {:x1 0,
                                     :y1 76.80000457912683,
                                     :x2 618.4889038056135,
                                     :y2 285.9750000014901,
                                     :width 751,
                                     :height 1060.2348357508977},
                          :rects ({:x1 0,
                                   :y1 76.80000457912683,
                                   :x2 0,
                                   :y2 98.40000305324793,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 353.229748532176,
                                   :y1 248.9249969497323,
                                   :x2 618.4889038056135,
                                   :y2 265.7250000014901,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 79.52499847114086,
                                   :y1 269.17501220852137,
                                   :x2 515.9071701020002,
                                   :y2 285.9750000014901,
                                   :width 751,
                                   :height 1060.2348357508977}),
                          :page 93},
               :content {:text "Pseudo-geodesic curves on a surface have a constant angle between their normal vector and the surface normal."},
               :properties {:color "yellow"}}
              {:id #uuid "652007f0-3404-42d9-ac66-35daa4f73407",
               :page 107,
               :position {:bounding {:x1 0,
                                     :y1 60.800002098083496,
                                     :x2 618.4881866425276,
                                     :y2 252.47499752044678,
                                     :width 751,
                                     :height 1060.2348357508977},
                          :rects ({:x1 0,
                                   :y1 60.800002098083496,
                                   :x2 0,
                                   :y2 82.40000057220459,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 245.91347961127758,
                                   :y1 215.42500972747803,
                                   :x2 618.4881866425276,
                                   :y2 232.22499752044678,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 79.00000457465649,
                                   :y1 235.67500972747803,
                                   :x2 414.5033309906721,
                                   :y2 252.47499752044678,
                                   :width 751,
                                   :height 1060.2348357508977}),
                          :page 107},
               :content {:text "For this purpose, we combine asymptotic (A) and geodesic(G) curves into hybrid AAG-webs on curved surfaces"},
               :properties {:color "yellow"}}],
 :extra {:page 136}}
