{:highlights [{:id #uuid "65709143-a652-4f72-8261-9d612f938c2c",
               :page 92,
               :position {:bounding {:x1 77.953125,
                                     :y1 519.90625,
                                     :x2 433.1275939941406,
                                     :y2 544.90625,
                                     :width 1039.4999999999998,
                                     :height 1322.9993166666666},
                          :rects ({:x1 77.953125,
                                   :y1 519.90625,
                                   :x2 433.1275939941406,
                                   :y2 544.90625,
                                   :width 1039.4999999999998,
                                   :height 1322.9993166666666}),
                          :page 92},
               :content {:text "Structures created from flat panels:"},
               :properties {:color "yellow"}}
              {:id #uuid "65709145-347a-49cf-8992-fad24f7f8517",
               :page 92,
               :position {:bounding {:x1 76.390625,
                                     :y1 669.9375,
                                     :x2 322.583984375,
                                     :y2 694.9375,
                                     :width 1039.4999999999998,
                                     :height 1322.9993166666666},
                          :rects ({:x1 76.390625,
                                   :y1 669.9375,
                                   :x2 322.583984375,
                                   :y2 694.9375,
                                   :width 1039.4999999999998,
                                   :height 1322.9993166666666}),
                          :page 92},
               :content {:text "Actively bent structures:"},
               :properties {:color "yellow"}}
              {:id #uuid "65709262-92b5-4576-b9b0-36e97e7e3619",
               :page 95,
               :position {:bounding {:x1 83.875,
                                     :y1 579.84375,
                                     :x2 506.00592041015625,
                                     :y2 634.875,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 297.04962158203125,
                                   :y1 579.84375,
                                   :x2 506.00592041015625,
                                   :y2 604.84375,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 83.875,
                                   :y1 609.875,
                                   :x2 385.5838928222656,
                                   :y2 634.875,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "Polydôme at the University of Lausanne (Natterer)"},
               :properties {:color "yellow"}}
              {:id #uuid "65709266-c37a-477d-b426-9b156fd16b1f",
               :page 95,
               :position {:bounding {:x1 121.5941162109375,
                                     :y1 489.875,
                                     :x2 246.54290771484375,
                                     :y2 514.875,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 121.5941162109375,
                                   :y1 489.875,
                                   :x2 246.54290771484375,
                                   :y2 514.875,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "ribbed dome"},
               :properties {:color "blue"}}
              {:id #uuid "6570926d-705a-4927-820a-6d9d598f2726",
               :page 95,
               :position {:bounding {:x1 84.09375,
                                     :y1 549.8125,
                                     :x2 478.3024444580078,
                                     :y2 604.84375,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 121.64002990722656,
                                   :y1 549.8125,
                                   :x2 478.3024444580078,
                                   :y2 574.8125,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 84.09375,
                                   :y1 579.84375,
                                   :x2 249.0718994140625,
                                   :y2 604.84375,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "Federal Garden Show in Mannheim(Mutschler/Otto)"},
               :properties {:color "yellow"}}
              {:id #uuid "65709272-83c0-4e4b-b680-7402ac52723c",
               :page 95,
               :position {:bounding {:x1 85.4375,
                                     :y1 609.875,
                                     :x2 498.682861328125,
                                     :y2 664.90625,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 440.38079833984375,
                                   :y1 609.875,
                                   :x2 498.682861328125,
                                   :y2 634.875,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 85.4375,
                                   :y1 639.90625,
                                   :x2 371.2206726074219,
                                   :y2 664.90625,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "Savill Garden in London (Happold)"},
               :properties {:color "yellow"}}
              {:id #uuid "65709428-0706-46bf-949c-503426442984",
               :page 95,
               :position {:bounding {:x1 85.015625,
                                     :y1 849.859375,
                                     :x2 504.99017333984375,
                                     :y2 1054.78125,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 234.15667724609375,
                                   :y1 849.859375,
                                   :x2 451.2772521972656,
                                   :y2 874.859375,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 85.75,
                                   :y1 879.890625,
                                   :x2 466.09490966796875,
                                   :y2 904.890625,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 85.75,
                                   :y1 909.796875,
                                   :x2 459.0834045410156,
                                   :y2 934.796875,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 85.015625,
                                   :y1 939.828125,
                                   :x2 504.99017333984375,
                                   :y2 964.828125,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 85.015625,
                                   :y1 969.859375,
                                   :x2 443.2315979003906,
                                   :y2 994.859375,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 85.640625,
                                   :y1 999.75,
                                   :x2 467.3137512207031,
                                   :y2 1024.75,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 85.75,
                                   :y1 1029.78125,
                                   :x2 212.21739196777344,
                                   :y2 1054.78125,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "Ribbed domes consist of continuous supporting elements, as opposed to disconnected support systems—such as reciprocal systems—where the structural parts are interrupted and the nodes have to be connected to one another. "},
               :properties {:color "blue"}}
              {:id #uuid "657096b7-847b-44ba-b4f2-8cb0faff9da5",
               :page 95,
               :position {:bounding {:x1 537.40625,
                                     :y1 549.9375,
                                     :x2 963.1913452148438,
                                     :y2 724.96875,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 537.40625,
                                   :y1 549.9375,
                                   :x2 951.1310424804688,
                                   :y2 574.9375,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 538.5625,
                                   :y1 579.96875,
                                   :x2 963.1913452148438,
                                   :y2 604.96875,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 539.28125,
                                   :y1 609.875,
                                   :x2 950.306884765625,
                                   :y2 634.875,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 539.28125,
                                   :y1 639.90625,
                                   :x2 917.9429321289062,
                                   :y2 664.90625,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 538.65625,
                                   :y1 669.9375,
                                   :x2 954.7506103515625,
                                   :y2 694.9375,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 539.28125,
                                   :y1 699.96875,
                                   :x2 706.1556396484375,
                                   :y2 724.96875,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "The geometric view of this pattern shows that a stabilizing “system effect” strengthens these structures. The close proximity of the elements to one another results in a high friction effect before the system can be deformed"},
               :properties {:color "yellow"}}
              {:id #uuid "657096c3-91ad-49d8-a121-71783be4ffda",
               :page 95,
               :position {:bounding {:x1 538.65625,
                                     :y1 759.90625,
                                     :x2 958.6387939453125,
                                     :y2 874.859375,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 788.9620361328125,
                                   :y1 759.90625,
                                   :x2 958.6387939453125,
                                   :y2 784.90625,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 539.1875,
                                   :y1 789.9375,
                                   :x2 886.3729858398438,
                                   :y2 814.9375,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 539.28125,
                                   :y1 819.828125,
                                   :x2 943.1415405273438,
                                   :y2 844.828125,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 538.65625,
                                   :y1 849.859375,
                                   :x2 737.0115356445312,
                                   :y2 874.859375,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "material-specific assessment might be used from an engineering perspective to stabilize and reinforce structures"},
               :properties {:color "yellow"}}
              {:id #uuid "65778479-0469-45b7-af9a-fb0c3fb7f767",
               :page 101,
               :position {:bounding {:x1 68.9124984741211,
                                     :y1 352.85001373291016,
                                     :x2 391.56666564941406,
                                     :y2 422.0250015258789,
                                     :width 852.9998632355517,
                                     :height 1085.635628838283},
                          :rects ({:x1 283.0838623046875,
                                   :y1 352.85001373291016,
                                   :x2 386.4217224121094,
                                   :y2 372.85001373291016,
                                   :width 852.9998632355517,
                                   :height 1085.635628838283}
                                  {:x1 70.11250305175781,
                                   :y1 377.3875198364258,
                                   :x2 391.56666564941406,
                                   :y2 397.3875198364258,
                                   :width 852.9998632355517,
                                   :height 1085.635628838283}
                                  {:x1 68.9124984741211,
                                   :y1 402.0250015258789,
                                   :x2 366.1471176147461,
                                   :y2 422.0250015258789,
                                   :width 852.9998632355517,
                                   :height 1085.635628838283}),
                          :page 101},
               :content {:text "t is a kind of active system that increases in rigidity when the external force is increased"},
               :properties {:color "yellow"}}
              {:id #uuid "657784c8-2c3a-49f8-9e92-fab35f5472c1",
               :page 102,
               :position {:bounding {:x1 64.13750457763672,
                                     :y1 342.13751888275146,
                                     :x2 360.7651062011719,
                                     :y2 389.4375066757202,
                                     :width 852.9998632355517,
                                     :height 1085.635628838283},
                          :rects ({:x1 146.82798767089844,
                                   :y1 342.13751888275146,
                                   :x2 360.7651062011719,
                                   :y2 356.53751277923584,
                                   :width 852.9998632355517,
                                   :height 1085.635628838283}
                                  {:x1 64.13750457763672,
                                   :y1 358.6500005722046,
                                   :x2 360.4729537963867,
                                   :y2 373.04999446868896,
                                   :width 852.9998632355517,
                                   :height 1085.635628838283}
                                  {:x1 64.13750457763672,
                                   :y1 375.03751277923584,
                                   :x2 245.4355697631836,
                                   :y2 389.4375066757202,
                                   :width 852.9998632355517,
                                   :height 1085.635628838283}),
                          :page 102},
               :content {:text "GEOS software was developed at the Swiss Federal Institute of Technology in Lausanne(EPFL) between 2002 and 2004"},
               :properties {:color "yellow"}}
              {:id #uuid "6577853f-5716-48bf-9f7e-484420357463",
               :page 102,
               :position {:bounding {:x1 435.6125183105469,
                                     :y1 882.75,
                                     :x2 785.9586791992188,
                                     :y2 914.3374938964844,
                                     :width 852.9998632355517,
                                     :height 1085.635628838283},
                          :rects ({:x1 629.8983764648438,
                                   :y1 882.75,
                                   :x2 785.9586791992188,
                                   :y2 897.9500122070312,
                                   :width 852.9998632355517,
                                   :height 1085.635628838283}
                                  {:x1 435.6125183105469,
                                   :y1 899.1375122070312,
                                   :x2 779.7631225585938,
                                   :y2 914.3374938964844,
                                   :width 852.9998632355517,
                                   :height 1085.635628838283}),
                          :page 102},
               :content {:text "he term “geodesic” is derived from the Greek ge (earth) and daiesthai (to divide)."},
               :properties {:color "blue"}}],
 :extra {:page 100}}
