{:highlights [{:id #uuid "65200694-1297-4d7c-943e-3c3c4c4cc3a6",
               :page 93,
               :position {:bounding {:x1 0,
                                     :y1 76.80000457912683,
                                     :x2 618.4889038056135,
                                     :y2 285.9750000014901,
                                     :width 751,
                                     :height 1060.2348357508977},
                          :rects ({:x1 0,
                                   :y1 76.80000457912683,
                                   :x2 0,
                                   :y2 98.40000305324793,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 353.229748532176,
                                   :y1 248.9249969497323,
                                   :x2 618.4889038056135,
                                   :y2 265.7250000014901,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 79.52499847114086,
                                   :y1 269.17501220852137,
                                   :x2 515.9071701020002,
                                   :y2 285.9750000014901,
                                   :width 751,
                                   :height 1060.2348357508977}),
                          :page 93},
               :content {:text "Pseudo-geodesic curves on a surface have a constant angle between their normal vector and the surface normal."},
               :properties {:color "yellow"}}
              {:id #uuid "652007f0-3404-42d9-ac66-35daa4f73407",
               :page 107,
               :position {:bounding {:x1 0,
                                     :y1 60.800002098083496,
                                     :x2 618.4881866425276,
                                     :y2 252.47499752044678,
                                     :width 751,
                                     :height 1060.2348357508977},
                          :rects ({:x1 0,
                                   :y1 60.800002098083496,
                                   :x2 0,
                                   :y2 82.40000057220459,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 245.91347961127758,
                                   :y1 215.42500972747803,
                                   :x2 618.4881866425276,
                                   :y2 232.22499752044678,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 79.00000457465649,
                                   :y1 235.67500972747803,
                                   :x2 414.5033309906721,
                                   :y2 252.47499752044678,
                                   :width 751,
                                   :height 1060.2348357508977}),
                          :page 107},
               :content {:text "For this purpose, we combine asymptotic (A) and geodesic(G) curves into hybrid AAG-webs on curved surfaces"},
               :properties {:color "yellow"}}
              {:id #uuid "65213c48-7c7a-435d-8e70-b423a5587e4e",
               :page 217,
               :position {:bounding {:x1 364.71915893256664,
                                     :y1 228.67501068115234,
                                     :x2 537.5619018524885,
                                     :y2 245.47501373291016,
                                     :width 751,
                                     :height 1060.2348357508977},
                          :rects ({:x1 364.71915893256664,
                                   :y1 228.67501068115234,
                                   :x2 537.5619018524885,
                                   :y2 245.47501373291016,
                                   :width 751,
                                   :height 1060.2348357508977}),
                          :page 217},
               :content {:text " planar-to-spatial structures"},
               :properties {:color "yellow"}}
              {:id #uuid "65213c4f-d2ab-44ba-9a4b-6623e14cd48d",
               :page 217,
               :position {:bounding {:x1 235.15087585151196,
                                     :y1 248.92501068115234,
                                     :x2 529.4363983124495,
                                     :y2 265.72501373291016,
                                     :width 751,
                                     :height 1060.2348357508977},
                          :rects ({:x1 235.15087585151196,
                                   :y1 248.92501068115234,
                                   :x2 529.4363983124495,
                                   :y2 265.72501373291016,
                                   :width 751,
                                   :height 1060.2348357508977}),
                          :page 217},
               :content {:text " inducing bending on a flat grid of elastic beams"},
               :properties {:color "yellow"}}
              {:id #uuid "65213c58-2ba2-47e6-9197-1a4c41978dca",
               :page 217,
               :position {:bounding {:x1 79.52499847114086,
                                     :y1 269.17501068115234,
                                     :x2 617.3854721039534,
                                     :y2 285.97501373291016,
                                     :width 751,
                                     :height 1060.2348357508977},
                          :rects ({:x1 79.52499847114086,
                                   :y1 269.17501068115234,
                                   :x2 617.3854721039534,
                                   :y2 285.97501373291016,
                                   :width 751,
                                   :height 1060.2348357508977}),
                          :page 217},
               :content {:text "slender nature of these beams often conflicts with the structure’s load-bearing capacity"},
               :properties {:color "green"}}
              {:id #uuid "65213c63-999f-4ae8-b920-3d091a75de7c",
               :page 217,
               :position {:bounding {:x1 0,
                                     :y1 108.80000495910645,
                                     :x2 618.4532363861799,
                                     :y2 326.47501373291016,
                                     :width 751,
                                     :height 1060.2348357508977},
                          :rects ({:x1 0,
                                   :y1 108.80000495910645,
                                   :x2 0,
                                   :y2 130.40000534057617,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 79.07500152289867,
                                   :y1 289.42501068115234,
                                   :x2 618.4532363861799,
                                   :y2 306.22501373291016,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 79.52499847114086,
                                   :y1 309.67501068115234,
                                   :x2 303.21738128364086,
                                   :y2 326.47501373291016,
                                   :width 751,
                                   :height 1060.2348357508977}),
                          :page 217},
               :content {:text "To address this issue, multiple layers are typically stacked to enhance out-of-plane stiffness and prevent stability issues"},
               :properties {:color "green"}}
              {:id #uuid "65213e82-7dc1-4ab7-89ae-54b178c6f08f",
               :page 217,
               :position {:bounding {:x1 0,
                                     :y1 332.8000030517578,
                                     :x2 620.7894638031721,
                                     :y2 610.0874938964844,
                                     :width 751,
                                     :height 1060.2348357508977},
                          :rects ({:x1 0,
                                   :y1 332.8000030517578,
                                   :x2 0,
                                   :y2 354.40000915527344,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 79.52499847114086,
                                   :y1 573.0375061035156,
                                   :x2 620.7894638031721,
                                   :y2 589.8374938964844,
                                   :width 751,
                                   :height 1060.2348357508977}
                                  {:x1 79.52499847114086,
                                   :y1 593.2875061035156,
                                   :x2 272.1372116059065,
                                   :y2 610.0874938964844,
                                   :width 751,
                                   :height 1060.2348357508977}),
                          :page 217},
               :content {:text "Our method incorporates a physics-based simulation of the bending and twisting behavior of the bamboo ribbons."},
               :properties {:color "yellow"}}
              {:id #uuid "652d0595-bec3-4fb9-afbe-7b375acd04be",
               :page 39,
               :position {:bounding {:x1 0,
                                     :y1 77,
                                     :x2 792.685546875,
                                     :y2 363.546875,
                                     :width 963.78,
                                     :height 1360.63},
                          :rects ({:x1 0,
                                   :y1 77,
                                   :x2 0,
                                   :y2 98,
                                   :width 963.78,
                                   :height 1360.63}
                                  {:x1 490.9512939453125,
                                   :y1 316.5625,
                                   :x2 792.685546875,
                                   :y2 337.5625,
                                   :width 963.78,
                                   :height 1360.63}
                                  {:x1 102.0625,
                                   :y1 342.546875,
                                   :x2 190.32855224609375,
                                   :y2 363.546875,
                                   :width 963.78,
                                   :height 1360.63}),
                          :page 39},
               :content {:text "bending-active trusses through elastic kinematics"},
               :properties {:color "yellow"}}
              {:id #uuid "652d05a7-609e-4596-8868-122a75fa6dab",
               :page 39,
               :position {:bounding {:x1 173.90716552734375,
                                     :y1 420.515625,
                                     :x2 385.19244384765625,
                                     :y2 441.515625,
                                     :width 963.78,
                                     :height 1360.63},
                          :rects ({:x1 173.90716552734375,
                                   :y1 420.515625,
                                   :x2 385.19244384765625,
                                   :y2 441.515625,
                                   :width 963.78,
                                   :height 1360.63}),
                          :page 39},
               :content {:text "robotic kerfing techniques,"},
               :properties {:color "yellow"}}],
 :extra {:page 39}}
