{:highlights [{:id #uuid "65709143-a652-4f72-8261-9d612f938c2c",
               :page 92,
               :position {:bounding {:x1 77.953125,
                                     :y1 519.90625,
                                     :x2 433.1275939941406,
                                     :y2 544.90625,
                                     :width 1039.4999999999998,
                                     :height 1322.9993166666666},
                          :rects ({:x1 77.953125,
                                   :y1 519.90625,
                                   :x2 433.1275939941406,
                                   :y2 544.90625,
                                   :width 1039.4999999999998,
                                   :height 1322.9993166666666}),
                          :page 92},
               :content {:text "Structures created from flat panels:"},
               :properties {:color "yellow"}}
              {:id #uuid "65709145-347a-49cf-8992-fad24f7f8517",
               :page 92,
               :position {:bounding {:x1 76.390625,
                                     :y1 669.9375,
                                     :x2 322.583984375,
                                     :y2 694.9375,
                                     :width 1039.4999999999998,
                                     :height 1322.9993166666666},
                          :rects ({:x1 76.390625,
                                   :y1 669.9375,
                                   :x2 322.583984375,
                                   :y2 694.9375,
                                   :width 1039.4999999999998,
                                   :height 1322.9993166666666}),
                          :page 92},
               :content {:text "Actively bent structures:"},
               :properties {:color "yellow"}}
              {:id #uuid "65709262-92b5-4576-b9b0-36e97e7e3619",
               :page 95,
               :position {:bounding {:x1 83.875,
                                     :y1 579.84375,
                                     :x2 506.00592041015625,
                                     :y2 634.875,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 297.04962158203125,
                                   :y1 579.84375,
                                   :x2 506.00592041015625,
                                   :y2 604.84375,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 83.875,
                                   :y1 609.875,
                                   :x2 385.5838928222656,
                                   :y2 634.875,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "Polydôme at the University of Lausanne (Natterer)"},
               :properties {:color "yellow"}}
              {:id #uuid "65709266-c37a-477d-b426-9b156fd16b1f",
               :page 95,
               :position {:bounding {:x1 121.5941162109375,
                                     :y1 489.875,
                                     :x2 246.54290771484375,
                                     :y2 514.875,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 121.5941162109375,
                                   :y1 489.875,
                                   :x2 246.54290771484375,
                                   :y2 514.875,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "ribbed dome"},
               :properties {:color "blue"}}
              {:id #uuid "6570926d-705a-4927-820a-6d9d598f2726",
               :page 95,
               :position {:bounding {:x1 84.09375,
                                     :y1 549.8125,
                                     :x2 478.3024444580078,
                                     :y2 604.84375,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 121.64002990722656,
                                   :y1 549.8125,
                                   :x2 478.3024444580078,
                                   :y2 574.8125,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 84.09375,
                                   :y1 579.84375,
                                   :x2 249.0718994140625,
                                   :y2 604.84375,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "Federal Garden Show in Mannheim(Mutschler/Otto)"},
               :properties {:color "yellow"}}
              {:id #uuid "65709272-83c0-4e4b-b680-7402ac52723c",
               :page 95,
               :position {:bounding {:x1 85.4375,
                                     :y1 609.875,
                                     :x2 498.682861328125,
                                     :y2 664.90625,
                                     :width 1039.5001666666667,
                                     :height 1322.9993166666666},
                          :rects ({:x1 440.38079833984375,
                                   :y1 609.875,
                                   :x2 498.682861328125,
                                   :y2 634.875,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}
                                  {:x1 85.4375,
                                   :y1 639.90625,
                                   :x2 371.2206726074219,
                                   :y2 664.90625,
                                   :width 1039.5001666666667,
                                   :height 1322.9993166666666}),
                          :page 95},
               :content {:text "Savill Garden in London (Happold)"},
               :properties {:color "yellow"}}],
 :extra {:page 95}}
