{:highlights [{:id #uuid "65e6e335-4840-47c6-9e30-8106afc96418",
               :page 1,
               :position {:bounding {:x1 63.15625,
                                     :y1 377.046875,
                                     :x2 481.9090576171875,
                                     :y2 426.296875,
                                     :width 989.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 407.2319641113281,
                                   :y1 377.046875,
                                   :x2 481.85040283203125,
                                   :y2 393.046875,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 63.15625,
                                   :y1 393.671875,
                                   :x2 481.9090576171875,
                                   :y2 409.671875,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 63.15625,
                                   :y1 410.296875,
                                   :x2 302.9328308105469,
                                   :y2 426.296875,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "assembly of natural materials with anisotropic mechanical properties for more sustainable architectural construction"},
               :properties {:color "yellow"}}
              {:id #uuid "65e6e39c-8225-43a3-843a-4fa5c621c369",
               :page 1,
               :position {:bounding {:x1 501.53125,
                                     :y1 420.390625,
                                     :x2 919.95849609375,
                                     :y2 479.25,
                                     :width 989.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 687.8191528320312,
                                   :y1 420.390625,
                                   :x2 919.9417724609375,
                                   :y2 439.390625,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 501.53125,
                                   :y1 440.328125,
                                   :x2 919.95849609375,
                                   :y2 459.328125,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 501.53125,
                                   :y1 460.25,
                                   :x2 853.6617431640625,
                                   :y2 479.25,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Natural materials, which are often heterogeneous, deformable, and/or anisotropic, have largely been phased out in favor of highly processed materials"},
               :properties {:color "green"}}
              {:id #uuid "65e6e3a2-f500-41d0-b291-58358e6a50c3",
               :page 1,
               :position {:bounding {:x1 501.53125,
                                     :y1 460.25,
                                     :x2 919.9756469726562,
                                     :y2 539.046875,
                                     :width 989.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 861.7098999023438,
                                   :y1 460.25,
                                   :x2 919.9756469726562,
                                   :y2 479.25,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 501.53125,
                                   :y1 480.1875,
                                   :x2 919.9459228515625,
                                   :y2 499.1875,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 501.53125,
                                   :y1 500.125,
                                   :x2 919.9461669921875,
                                   :y2 519.125,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 501.53125,
                                   :y1 520.046875,
                                   :x2 860.5253295898438,
                                   :y2 539.046875,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Enabling usage of such non-standard materials increases the range of feasible materials in the construction industry, thus forging new paths towards more diverse, and sustainable processes"},
               :properties {:color "yellow"}}
              {:id #uuid "65e6e3b7-6ada-42eb-a187-9e76ef968f11",
               :page 1,
               :position {:bounding {:x1 501.53125,
                                     :y1 579.71875,
                                     :x2 919.951416015625,
                                     :y2 678.4375,
                                     :width 989.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 876.2220458984375,
                                   :y1 579.71875,
                                   :x2 919.641357421875,
                                   :y2 598.71875,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 501.53125,
                                   :y1 599.640625,
                                   :x2 919.951416015625,
                                   :y2 618.640625,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 501.53125,
                                   :y1 619.578125,
                                   :x2 919.9192504882812,
                                   :y2 638.578125,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 501.53125,
                                   :y1 639.515625,
                                   :x2 919.9341430664062,
                                   :y2 658.515625,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 501.53125,
                                   :y1 659.4375,
                                   :x2 919.915283203125,
                                   :y2 678.4375,
                                   :width 989.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Therefore, robotic construction with such materials requires planning and control strategies that generalize to uncertain properties of a single element and continuously adapt to unpredictable deformations inherent to natural materials in the real world."},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
