{:highlights [{:id #uuid "64e5ba6d-8492-4517-9e0d-34596aadfae5",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 119.28750610351562,
                                     :x2 1300.4559936523438,
                                     :y2 338.3999938964844,
                                     :width 1468.8,
                                     :height 950.4},
                          :rects ({:x1 1016.987548828125,
                                   :y1 119.28750610351562,
                                   :x2 1300.4559936523438,
                                   :y2 136.88751220703125,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 1016.987548828125,
                                   :y1 138.48751831054688,
                                   :x2 1291.750244140625,
                                   :y2 156.08749389648438,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 1016.987548828125,
                                   :y1 157.6875,
                                   :x2 1268.0880126953125,
                                   :y2 175.28750610351562,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 300.8000183105469,
                                   :x2 0,
                                   :y2 322.3999938964844,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 316.8000183105469,
                                   :x2 0,
                                   :y2 338.3999938964844,
                                   :width 1468.8,
                                   :height 950.4}),
                          :page 7},
               :content {:text "Mass timber will always be dependent on sustainable forestry practices to fulfill its environmental sustainability promise."},
               :properties {:color "green"}}
              {:id #uuid "64e5ba73-1542-49d8-a1a3-fd4f5ad2db71",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 187.6875,
                                     :x2 1352.0733642578125,
                                     :y2 386.4000244140625,
                                     :width 1468.8,
                                     :height 950.4},
                          :rects ({:x1 1016.987548828125,
                                   :y1 187.6875,
                                   :x2 1352.0733642578125,
                                   :y2 205.28750610351562,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 1016.987548828125,
                                   :y1 206.88751220703125,
                                   :x2 1305.07958984375,
                                   :y2 224.48751831054688,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 1016.987548828125,
                                   :y1 226.07501220703125,
                                   :x2 1322.401611328125,
                                   :y2 243.67501831054688,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 348.8000183105469,
                                   :x2 0,
                                   :y2 370.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 364.79998779296875,
                                   :x2 0,
                                   :y2 386.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}),
                          :page 7},
               :content {:text "Integrated design, digital fabrication and building information modelling (BIM) are key to the successful delivery of mass timber buildings."},
               :properties {:color "green"}}
              {:id #uuid "64e5ba99-1f1e-4214-85aa-6fb33c7e9134",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 509.5500030517578,
                                     :x2 221.36186981201172,
                                     :y2 1026.4000244140625,
                                     :width 1468.8,
                                     :height 950.4},
                          :rects ({:x1 70.2874984741211,
                                   :y1 509.5500030517578,
                                   :x2 221.36186981201172,
                                   :y2 523.1500091552734,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 70.2874984741211,
                                   :y1 524.25,
                                   :x2 207.8758773803711,
                                   :y2 537.8500061035156,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 70.2874984741211,
                                   :y1 538.9375,
                                   :x2 217.36669158935547,
                                   :y2 552.5375061035156,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 70.2874984741211,
                                   :y1 558.1750030517578,
                                   :x2 75.29346466064453,
                                   :y2 570.1750030517578,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 86.48750305175781,
                                   :y1 558.1750030517578,
                                   :x2 141.27871704101562,
                                   :y2 570.1750030517578,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 70.2874984741211,
                                   :y1 574.4875030517578,
                                   :x2 75.29346466064453,
                                   :y2 586.4875030517578,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 86.48750305175781,
                                   :y1 574.4875030517578,
                                   :x2 199.8512725830078,
                                   :y2 586.4875030517578,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 70.2874984741211,
                                   :y1 590.8125,
                                   :x2 75.29346466064453,
                                   :y2 602.8125,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 86.48750305175781,
                                   :y1 590.8125,
                                   :x2 160.46017456054688,
                                   :y2 602.8125,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 70.2874984741211,
                                   :y1 607.125,
                                   :x2 75.29346466064453,
                                   :y2 619.125,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 86.48750305175781,
                                   :y1 607.125,
                                   :x2 198.03965759277344,
                                   :y2 619.125,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 70.2874984741211,
                                   :y1 623.4500122070312,
                                   :x2 75.29346466064453,
                                   :y2 635.4500122070312,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 86.48750305175781,
                                   :y1 623.4500122070312,
                                   :x2 190.2478485107422,
                                   :y2 635.4500122070312,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 70.2874984741211,
                                   :y1 639.7625122070312,
                                   :x2 75.29346466064453,
                                   :y2 651.7625122070312,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 86.48750305175781,
                                   :y1 639.7625122070312,
                                   :x2 163.632568359375,
                                   :y2 651.7625122070312,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 892.7999877929688,
                                   :x2 0,
                                   :y2 914.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 908.7999877929688,
                                   :x2 0,
                                   :y2 930.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 924.7999877929688,
                                   :x2 0,
                                   :y2 946.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 940.7999877929688,
                                   :x2 0,
                                   :y2 962.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 956.7999877929688,
                                   :x2 0,
                                   :y2 978.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 972.7999877929688,
                                   :x2 0,
                                   :y2 994.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 988.7999877929688,
                                   :x2 0,
                                   :y2 1010.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1004.7999877929688,
                                   :x2 0,
                                   :y2 1026.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}),
                          :page 7},
               :content {:text "Building with wood has many benefit that make it a good choice for a building project:• Low Carbon• Renewable / Sustainable• Jobs / Economy• Durability / Serviceability• Flexibility / Adaptability• Beauty / Warmth"},
               :properties {:color "green"}}
              {:id #uuid "64e5baaa-ffac-408c-bd53-00b1455f4ca9",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 509.25,
                                     :x2 392.3374938964844,
                                     :y2 1330.4000244140625,
                                     :width 1468.8,
                                     :height 950.4},
                          :rects ({:x1 237.0124969482422,
                                   :y1 509.25,
                                   :x2 368.6105651855469,
                                   :y2 522.8500061035156,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 237.0124969482422,
                                   :y1 523.9499969482422,
                                   :x2 367.036865234375,
                                   :y2 537.5500030517578,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 237.0124969482422,
                                   :y1 538.6500091552734,
                                   :x2 359.2642517089844,
                                   :y2 552.25,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 237.0124969482422,
                                   :y1 553.3500061035156,
                                   :x2 302.3611755371094,
                                   :y2 566.9499969482422,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 237.0124969482422,
                                   :y1 572.5875091552734,
                                   :x2 242.01846313476562,
                                   :y2 584.5875091552734,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 253.21250915527344,
                                   :y1 572.5875091552734,
                                   :x2 333.0650329589844,
                                   :y2 584.5875091552734,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 237.0124969482422,
                                   :y1 588.9000091552734,
                                   :x2 242.01846313476562,
                                   :y2 600.8999938964844,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 253.21250915527344,
                                   :y1 588.9000091552734,
                                   :x2 374.0216369628906,
                                   :y2 600.8999938964844,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 253.21250915527344,
                                   :y1 600.8999938964844,
                                   :x2 375.3948669433594,
                                   :y2 612.8999938964844,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 253.21250915527344,
                                   :y1 612.8999938964844,
                                   :x2 329.360595703125,
                                   :y2 624.8999938964844,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 237.0124969482422,
                                   :y1 629.2124938964844,
                                   :x2 242.01846313476562,
                                   :y2 641.2124938964844,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 253.21250915527344,
                                   :y1 629.2124938964844,
                                   :x2 358.7290954589844,
                                   :y2 641.2124938964844,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 237.0124969482422,
                                   :y1 645.5375061035156,
                                   :x2 242.01846313476562,
                                   :y2 657.5375061035156,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 253.21250915527344,
                                   :y1 645.5375061035156,
                                   :x2 308.2090759277344,
                                   :y2 657.5375061035156,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 258.6125183105469,
                                   :y1 661.8500061035156,
                                   :x2 263.61846923828125,
                                   :y2 673.8500061035156,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 274.8125,
                                   :y1 661.8500061035156,
                                   :x2 342.0562744140625,
                                   :y2 673.8500061035156,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 258.6125183105469,
                                   :y1 678.1750183105469,
                                   :x2 263.61846923828125,
                                   :y2 690.1750183105469,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 274.8125,
                                   :y1 678.1750183105469,
                                   :x2 339.1378479003906,
                                   :y2 690.1750183105469,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 258.6125183105469,
                                   :y1 694.4875183105469,
                                   :x2 263.61846923828125,
                                   :y2 706.4875183105469,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 274.8125,
                                   :y1 694.4875183105469,
                                   :x2 362.0679626464844,
                                   :y2 706.4875183105469,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 258.6125183105469,
                                   :y1 710.8125,
                                   :x2 263.61846923828125,
                                   :y2 722.8125,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 274.8125,
                                   :y1 710.8125,
                                   :x2 392.3374938964844,
                                   :y2 722.8125,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1116.7999877929688,
                                   :x2 0,
                                   :y2 1138.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1132.7999877929688,
                                   :x2 0,
                                   :y2 1154.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1148.7999877929688,
                                   :x2 0,
                                   :y2 1170.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1164.7999877929688,
                                   :x2 0,
                                   :y2 1186.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1180.7999877929688,
                                   :x2 0,
                                   :y2 1202.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1196.7999877929688,
                                   :x2 0,
                                   :y2 1218.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1212.7999877929688,
                                   :x2 0,
                                   :y2 1234.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1228.7999877929688,
                                   :x2 0,
                                   :y2 1250.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1244.7999877929688,
                                   :x2 0,
                                   :y2 1266.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1260.7999877929688,
                                   :x2 0,
                                   :y2 1282.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1276.7999877929688,
                                   :x2 0,
                                   :y2 1298.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1292.7999877929688,
                                   :x2 0,
                                   :y2 1314.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}
                                  {:x1 0,
                                   :y1 1308.7999877929688,
                                   :x2 0,
                                   :y2 1330.4000244140625,
                                   :width 1468.8,
                                   :height 950.4}),
                          :page 7},
               :content {:text "Wood construction offers many options that can be applied in cost effective applications:• Light wood-frame• Engineered wood products and systems (e.g. structural insulated panels)• Traditional heavy timber• Mass timber• Post and beam• Post and plate• Mass timber panels• Mass timber braced frame"},
               :properties {:color "green"}}],
 :extra {:page 14}}
