{:highlights [{:id #uuid "65675aa6-de05-403e-859c-e919054dc5d8",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 45,
                                     :x2 926.2552490234375,
                                     :y2 469.859375,
                                     :width 992.1333333333332,
                                     :height 1403.1499999999999},
                          :rects ({:x1 0,
                                   :y1 45,
                                   :x2 0,
                                   :y2 66,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 0,
                                   :y1 61,
                                   :x2 0,
                                   :y2 82,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 0,
                                   :y1 77,
                                   :x2 0,
                                   :y2 98,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 564.763671875,
                                   :y1 393.1875,
                                   :x2 925.268798828125,
                                   :y2 412.1875,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 66.140625,
                                   :y1 412.390625,
                                   :x2 926.2552490234375,
                                   :y2 431.390625,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 66.140625,
                                   :y1 431.65625,
                                   :x2 925.580322265625,
                                   :y2 450.65625,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 66.140625,
                                   :y1 450.859375,
                                   :x2 477.54425048828125,
                                   :y2 469.859375,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text " To further improve the environmental performance of timber construction, it is beneficial to reduce the use of adhesives, particularly when manufacturing laminated engineered wood products. This study numerically investigates the structural behaviour of dowel laminated timber (DLT) elements which are laminated with compressed wood dowels instead of adhesives"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
