{:highlights [{:id #uuid "65675aa6-de05-403e-859c-e919054dc5d8",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 45,
                                     :x2 926.2552490234375,
                                     :y2 469.859375,
                                     :width 992.1333333333332,
                                     :height 1403.1499999999999},
                          :rects ({:x1 0,
                                   :y1 45,
                                   :x2 0,
                                   :y2 66,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 0,
                                   :y1 61,
                                   :x2 0,
                                   :y2 82,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 0,
                                   :y1 77,
                                   :x2 0,
                                   :y2 98,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 564.763671875,
                                   :y1 393.1875,
                                   :x2 925.268798828125,
                                   :y2 412.1875,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 66.140625,
                                   :y1 412.390625,
                                   :x2 926.2552490234375,
                                   :y2 431.390625,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 66.140625,
                                   :y1 431.65625,
                                   :x2 925.580322265625,
                                   :y2 450.65625,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 66.140625,
                                   :y1 450.859375,
                                   :x2 477.54425048828125,
                                   :y2 469.859375,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text " To further improve the environmental performance of timber construction, it is beneficial to reduce the use of adhesives, particularly when manufacturing laminated engineered wood products. This study numerically investigates the structural behaviour of dowel laminated timber (DLT) elements which are laminated with compressed wood dowels instead of adhesives"},
               :properties {:color "yellow"}}
              {:id #uuid "65675b1f-9b36-4c85-bf77-c75081615bca",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 141,
                                     :x2 926.194091796875,
                                     :y2 546.453125,
                                     :width 992.1333333333332,
                                     :height 1403.1499999999999},
                          :rects ({:x1 0,
                                   :y1 141,
                                   :x2 0,
                                   :y2 162,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 882.190185546875,
                                   :y1 508.265625,
                                   :x2 926.1519775390625,
                                   :y2 527.265625,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 66.140625,
                                   :y1 527.453125,
                                   :x2 926.194091796875,
                                   :y2 546.453125,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "results show that the dowel diameter and spacing have a significant influence on the maximum load capacity and stiffness of the DLT"},
               :properties {:color "yellow"}}
              {:id #uuid "65675b41-5d47-4ded-bcad-32162e651652",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 173,
                                     :x2 926.215576171875,
                                     :y2 584.65625,
                                     :width 992.1333333333332,
                                     :height 1403.1499999999999},
                          :rects ({:x1 0,
                                   :y1 173,
                                   :x2 0,
                                   :y2 194,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 170.43621826171875,
                                   :y1 546.65625,
                                   :x2 926.215576171875,
                                   :y2 565.65625,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 66.140625,
                                   :y1 565.65625,
                                   :x2 510.0909423828125,
                                   :y2 584.65625,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "predicted failure behaviour of the numerical model comprises a combination of dowel bending, dowel-timber embedment and tensile fracture of the bottom tensile laminate"},
               :properties {:color "yellow"}}
              {:id #uuid "65675b4b-b968-491d-9a43-c925741ddd1a",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 189,
                                     :x2 926.2994384765625,
                                     :y2 603.859375,
                                     :width 992.1333333333332,
                                     :height 1403.1499999999999},
                          :rects ({:x1 0,
                                   :y1 189,
                                   :x2 0,
                                   :y2 210,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 557.078125,
                                   :y1 565.65625,
                                   :x2 926.2994384765625,
                                   :y2 584.65625,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 66.140625,
                                   :y1 584.859375,
                                   :x2 457.6031494140625,
                                   :y2 603.859375,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "numerical model will allow for an optimised dowel arrangement to be manufactured and experimentally tested"},
               :properties {:color "green"}}],
 :extra {:page 7}}
