{:highlights [{:id #uuid "64dbad5f-6dfb-4945-8e7f-5cd561b3583f",
               :page 33,
               :position {:bounding {:x1 0,
                                     :y1 236.79998779296875,
                                     :x2 688.354479983449,
                                     :y2 846.8500061035156,
                                     :width 851.0000000000002,
                                     :height 1203.510582543842},
                          :rects ({:x1 0,
                                   :y1 236.79998779296875,
                                   :x2 0,
                                   :y2 258.3999938964844,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 213.87021179497242,
                                   :y1 802.9124908447266,
                                   :x2 688.354479983449,
                                   :y2 822.1124877929688,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 162.61250610649586,
                                   :y1 827.6499938964844,
                                   :x2 421.1724731475115,
                                   :y2 846.8500061035156,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}),
                          :page 33},
               :content {:text "The gradual distribution of material and form is akin to biological principles found in natural structure"},
               :properties {:color "yellow"}}
              {:id #uuid "64dbad6a-612e-4341-89b4-41e5f1386d02",
               :page 33,
               :position {:bounding {:x1 0,
                                     :y1 236.79998779296875,
                                     :x2 688.354479983449,
                                     :y2 846.8500061035156,
                                     :width 851.0000000000002,
                                     :height 1203.510582543842},
                          :rects ({:x1 0,
                                   :y1 236.79998779296875,
                                   :x2 0,
                                   :y2 258.3999938964844,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 209.47432251274586,
                                   :y1 802.9124908447266,
                                   :x2 688.354479983449,
                                   :y2 822.1124877929688,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 162.61250610649586,
                                   :y1 827.6499938964844,
                                   :x2 421.1724731475115,
                                   :y2 846.8500061035156,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}),
                          :page 33},
               :content {:text " The gradual distribution of material and form is akin to biological principles found in natural structure"},
               :properties {:color "yellow"}}
              {:id #uuid "64dbad7e-b958-4d86-a8db-c92c515a31ab",
               :page 33,
               :position {:bounding {:x1 0,
                                     :y1 236.80001831054688,
                                     :x2 688.354479983449,
                                     :y2 846.8500366210938,
                                     :width 851.0000000000002,
                                     :height 1203.510582543842},
                          :rects ({:x1 0,
                                   :y1 236.80001831054688,
                                   :x2 0,
                                   :y2 258.40001678466797,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 213.87021179497242,
                                   :y1 802.9125366210938,
                                   :x2 688.354479983449,
                                   :y2 822.1125183105469,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 162.61250610649586,
                                   :y1 827.6500244140625,
                                   :x2 421.1724731475115,
                                   :y2 846.8500366210938,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}),
                          :page 33},
               :content {:text "The gradual distribution of material and form is akin to biological principles found in natural structure"},
               :properties {:color "yellow"}}
              {:id #uuid "64de130c-e15c-479e-8b1d-0667599c4fc7",
               :page 41,
               :position {:bounding {:x1 0,
                                     :y1 60.80000305175781,
                                     :x2 597.957763671875,
                                     :y2 832.9249877929688,
                                     :width 714.384,
                                     :height 1010.3039999999999},
                          :rects ({:x1 0,
                                   :y1 60.80000305175781,
                                   :x2 0,
                                   :y2 82.4000015258789,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 0,
                                   :y1 76.79999542236328,
                                   :x2 0,
                                   :y2 98.4000015258789,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 0,
                                   :y1 92.79999542236328,
                                   :x2 0,
                                   :y2 114.4000015258789,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 414.22528076171875,
                                   :y1 754.6500244140625,
                                   :x2 590.0765991210938,
                                   :y2 770.6500244140625,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 136.5,
                                   :y1 775.375,
                                   :x2 581.66357421875,
                                   :y2 791.375,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 136.5,
                                   :y1 796.1875,
                                   :x2 597.957763671875,
                                   :y2 812.1875,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 136.5,
                                   :y1 816.9249877929688,
                                   :x2 380.0303649902344,
                                   :y2 832.9249877929688,
                                   :width 714.384,
                                   :height 1010.3039999999999}),
                          :page 41},
               :content {:text "a higher degree of functional integration, material performance, and morphological complexity than what could be achieved with hierarchical and standardized building systems in traditional design and delivery processes"},
               :properties {:color "yellow"}}
              {:id #uuid "64de1496-92e5-46e5-bdcc-33c4f77e214d",
               :page 42,
               :position {:bounding {:x1 0,
                                     :y1 44.80000305175781,
                                     :x2 589.5750732421875,
                                     :y2 404.2375183105469,
                                     :width 714.384,
                                     :height 1010.3039999999999},
                          :rects ({:x1 0,
                                   :y1 44.80000305175781,
                                   :x2 0,
                                   :y2 66.4000015258789,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 179.70001220703125,
                                   :y1 367.5,
                                   :x2 589.5750732421875,
                                   :y2 383.5,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 179.70001220703125,
                                   :y1 388.2375183105469,
                                   :x2 549.9025268554688,
                                   :y2 404.2375183105469,
                                   :width 714.384,
                                   :height 1010.3039999999999}),
                          :page 42},
               :content {:text "more performative and functionally gradated building systems that exhibit a higher level of geometric complexity and differentiation; "},
               :properties {:color "yellow"}}
              {:id #uuid "64de14a6-a108-42a7-b25a-cdf4f36b7ffa",
               :page 42,
               :position {:bounding {:x1 0,
                                     :y1 92.80000305175781,
                                     :x2 577.9923706054688,
                                     :y2 466.51251220703125,
                                     :width 714.384,
                                     :height 1010.3039999999999},
                          :rects ({:x1 0,
                                   :y1 92.80000305175781,
                                   :x2 0,
                                   :y2 114.40000915527344,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 236.70111083984375,
                                   :y1 429.7749938964844,
                                   :x2 577.9923706054688,
                                   :y2 445.7749938964844,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 179.70001220703125,
                                   :y1 450.51251220703125,
                                   :x2 360.1161193847656,
                                   :y2 466.51251220703125,
                                   :width 714.384,
                                   :height 1010.3039999999999}),
                          :page 42},
               :content {:text "building systems with their manufacturing process, and the impact both have on each other"},
               :properties {:color "yellow"}}
              {:id #uuid "64de14bd-2ce2-4bfa-a9d6-e2ef12bcce7d",
               :page 42,
               :position {:bounding {:x1 0,
                                     :y1 60.79999542236328,
                                     :x2 577.8720092773438,
                                     :y2 570.3374938964844,
                                     :width 714.384,
                                     :height 1010.3039999999999},
                          :rects ({:x1 0,
                                   :y1 60.79999542236328,
                                   :x2 0,
                                   :y2 82.4000015258789,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 254.97543334960938,
                                   :y1 533.6000061035156,
                                   :x2 577.8720092773438,
                                   :y2 549.6000061035156,
                                   :width 714.384,
                                   :height 1010.3039999999999}
                                  {:x1 179.70001220703125,
                                   :y1 554.3374938964844,
                                   :x2 328.101318359375,
                                   :y2 570.3374938964844,
                                   :width 714.384,
                                   :height 1010.3039999999999}),
                          :page 42},
               :content {:text "using industrial robots and other numerically controlled manufacturing equipment"},
               :properties {:color "yellow"}}],
 :extra {:page 45}}
