{:highlights [{:id #uuid "64dbad5f-6dfb-4945-8e7f-5cd561b3583f",
               :page 33,
               :position {:bounding {:x1 0,
                                     :y1 236.79998779296875,
                                     :x2 688.354479983449,
                                     :y2 846.8500061035156,
                                     :width 851.0000000000002,
                                     :height 1203.510582543842},
                          :rects ({:x1 0,
                                   :y1 236.79998779296875,
                                   :x2 0,
                                   :y2 258.3999938964844,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 213.87021179497242,
                                   :y1 802.9124908447266,
                                   :x2 688.354479983449,
                                   :y2 822.1124877929688,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 162.61250610649586,
                                   :y1 827.6499938964844,
                                   :x2 421.1724731475115,
                                   :y2 846.8500061035156,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}),
                          :page 33},
               :content {:text "The gradual distribution of material and form is akin to biological principles found in natural structure"},
               :properties {:color "yellow"}}
              {:id #uuid "64dbad6a-612e-4341-89b4-41e5f1386d02",
               :page 33,
               :position {:bounding {:x1 0,
                                     :y1 236.79998779296875,
                                     :x2 688.354479983449,
                                     :y2 846.8500061035156,
                                     :width 851.0000000000002,
                                     :height 1203.510582543842},
                          :rects ({:x1 0,
                                   :y1 236.79998779296875,
                                   :x2 0,
                                   :y2 258.3999938964844,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 209.47432251274586,
                                   :y1 802.9124908447266,
                                   :x2 688.354479983449,
                                   :y2 822.1124877929688,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 162.61250610649586,
                                   :y1 827.6499938964844,
                                   :x2 421.1724731475115,
                                   :y2 846.8500061035156,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}),
                          :page 33},
               :content {:text " The gradual distribution of material and form is akin to biological principles found in natural structure"},
               :properties {:color "yellow"}}
              {:id #uuid "64dbad7e-b958-4d86-a8db-c92c515a31ab",
               :page 33,
               :position {:bounding {:x1 0,
                                     :y1 236.80001831054688,
                                     :x2 688.354479983449,
                                     :y2 846.8500366210938,
                                     :width 851.0000000000002,
                                     :height 1203.510582543842},
                          :rects ({:x1 0,
                                   :y1 236.80001831054688,
                                   :x2 0,
                                   :y2 258.40001678466797,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 213.87021179497242,
                                   :y1 802.9125366210938,
                                   :x2 688.354479983449,
                                   :y2 822.1125183105469,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}
                                  {:x1 162.61250610649586,
                                   :y1 827.6500244140625,
                                   :x2 421.1724731475115,
                                   :y2 846.8500366210938,
                                   :width 851.0000000000002,
                                   :height 1203.510582543842}),
                          :page 33},
               :content {:text "The gradual distribution of material and form is akin to biological principles found in natural structure"},
               :properties {:color "yellow"}}],
 :extra {:page 110}}
