{:highlights [{:id #uuid "649ea20d-6af6-43d7-890f-e3f03b312c94",
               :page 8,
               :position {:bounding {:x1 722.0625,
                                     :y1 165.609375,
                                     :x2 889.692138671875,
                                     :y2 184.609375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 722.0625,
                                   :y1 165.609375,
                                   :x2 889.692138671875,
                                   :y2 184.609375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "direction and length"},
               :properties {:color "yellow"}}
              {:id #uuid "649ea38c-09dd-4ea9-a2f7-efe369b31b70",
               :page 14,
               :position {:bounding {:x1 0,
                                     :y1 206,
                                     :x2 896.0125732421875,
                                     :y2 498.359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 226,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 242,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 439.359375,
                                   :x2 896.0125732421875,
                                   :y2 458.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 459.359375,
                                   :x2 893.95703125,
                                   :y2 478.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 479.359375,
                                   :x2 659.0189819335938,
                                   :y2 498.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 14},
               :content {:text "We always get a positive number for the dot product between two vectors when they go in the same general direction. A negative dot product between two vectors means that the two vectors go in the opposite general direction."},
               :properties {:color "yellow"}}
              {:id #uuid "649ea3ae-8a8b-4cf0-bf39-3dcf01996f1c",
               :page 15,
               :position {:bounding {:x1 0,
                                     :y1 62,
                                     :x2 822.58935546875,
                                     :y2 262.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 240,
                                   :y1 223.109375,
                                   :x2 822.58935546875,
                                   :y2 242.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 240,
                                   :y1 243.109375,
                                   :x2 412.02703857421875,
                                   :y2 262.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 15},
               :content {:text "The dot product of two non-zero unit vectors equals the cosine of the angle between them"},
               :properties {:color "yellow"}}
              {:id #uuid "649ea3c8-a2ce-4e46-b72c-9c389e80f85f",
               :page 15,
               :position {:bounding {:x1 240,
                                     :y1 500.609375,
                                     :x2 708.567626953125,
                                     :y2 519.609375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 240,
                                   :y1 500.609375,
                                   :x2 708.567626953125,
                                   :y2 519.609375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 15},
               :content {:text "Vectors a and b are orthogonal if, and only if, a · b = 0."},
               :properties {:color "yellow"}}
              {:id #uuid "649ea42d-abca-4530-a9b5-fa365c5d5265",
               :page 16,
               :position {:bounding {:x1 240,
                                     :y1 969.359375,
                                     :x2 632.6119384765625,
                                     :y2 988.359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 240,
                                   :y1 969.359375,
                                   :x2 632.6119384765625,
                                   :y2 988.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 16},
               :content {:text "The vector a x b is orthogonal to both a and b."},
               :properties {:color "yellow"}}
              {:id #uuid "649ea43f-36c1-4a0b-a3b4-f5e3aac8d1a6",
               :page 16,
               :position {:bounding {:x1 0,
                                     :y1 142,
                                     :x2 897.8712158203125,
                                     :y2 397.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 358.109375,
                                   :x2 897.8712158203125,
                                   :y2 377.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 378.109375,
                                   :x2 223.6707763671875,
                                   :y2 397.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 16},
               :content {:text "The cross product takes two vectors and produces a third vector that is orthogonal to both."},
               :properties {:color "green"}}
              {:id #uuid "649ea449-0ed9-4309-8028-a3a225a99ab4",
               :page 14,
               :position {:bounding {:x1 180,
                                     :y1 164.359375,
                                     :x2 678.0714111328125,
                                     :y2 183.359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 180,
                                   :y1 164.359375,
                                   :x2 678.0714111328125,
                                   :y2 183.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 14},
               :content {:text "The dot product takes two vectors and produces a number."},
               :properties {:color "green"}}
              {:id #uuid "649ea47b-9e99-4801-810b-ee9f0e587fb3",
               :page 18,
               :position {:bounding {:x1 240,
                                     :y1 593.109375,
                                     :x2 683.489501953125,
                                     :y2 612.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 240,
                                   :y1 593.109375,
                                   :x2 683.489501953125,
                                   :y2 612.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 18},
               :content {:text "Vectors a and b are parallel if, and only if, a x b = 0."},
               :properties {:color "yellow"}}
              {:id #uuid "649ec55c-2dcc-4785-adbe-95b67cc69f27",
               :page 32,
               :position {:bounding {:x1 0,
                                     :y1 142,
                                     :x2 886.6693115234375,
                                     :y2 715.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 210,
                                   :y1 676.859375,
                                   :x2 886.6693115234375,
                                   :y2 695.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 210,
                                   :y1 696.859375,
                                   :x2 330.89093017578125,
                                   :y2 715.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 32},
               :content {:text "A tangent point D between the two spheres, at some t parameter (0-1) between points A and B"},
               :properties {:color "yellow"}}
              {:id #uuid "649ec8cf-1829-46d4-a2ad-f1b63057bdb3",
               :page 37,
               :position {:bounding {:x1 165,
                                     :y1 390,
                                     :x2 815,
                                     :y2 557,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1688127695111},
               :properties {:color "yellow"}}
              {:id #uuid "649ecbbc-62af-4a1c-811d-ddf3ae40483e",
               :page 50,
               :position {:bounding {:x1 0,
                                     :y1 270,
                                     :x2 874.189453125,
                                     :y2 623.359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 306,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 564.359375,
                                   :x2 811.05810546875,
                                   :y2 583.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 584.359375,
                                   :x2 874.189453125,
                                   :y2 603.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 604.359375,
                                   :x2 825.755615234375,
                                   :y2 623.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 50},
               :content {:text "A parameter on a curve represents the address of a point on that curve. As mentioned before, you can think of a parametric curve as a path traveled between two points in a certain amount of time, traveling at a fixed or variable speed"},
               :properties {:color "yellow"}}
              {:id #uuid "649ecd99-38ee-492a-a95a-612c7b2cfb08",
               :page 51,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 894.8184814453125,
                                     :y2 625.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 586.859375,
                                   :x2 894.8184814453125,
                                   :y2 605.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 606.859375,
                                   :x2 371.39849853515625,
                                   :y2 625.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 51},
               :content {:text "A curve domain or interval is defined as the range of parameters that evaluate into a point within that curve."},
               :properties {:color "yellow"}}
              {:id #uuid "649ecdc3-86b9-4b86-9e11-2425f63d1671",
               :page 52,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 897.4736328125,
                                     :y2 159.609375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 120.609375,
                                   :x2 897.4736328125,
                                   :y2 139.609375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 140.609375,
                                   :x2 760.3703002929688,
                                   :y2 159.609375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 52},
               :content {:text "Changing a curve domain is referred to as the process of reparameterizing the curve. For example, it is very common to change the domain to be (0 to 1)."},
               :properties {:color "yellow"}}
              {:id #uuid "649ed2a7-8824-4526-9bf3-6f569392b46c",
               :page 52,
               :position {:bounding {:x1 0,
                                     :y1 190,
                                     :x2 895.6148681640625,
                                     :y2 765.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 210,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 226,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 242,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 686.859375,
                                   :x2 895.6148681640625,
                                   :y2 705.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 706.859375,
                                   :x2 881.4443359375,
                                   :y2 725.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 726.859375,
                                   :x2 843.012451171875,
                                   :y2 745.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 746.859375,
                                   :x2 232.18634033203125,
                                   :y2 765.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 52},
               :content {:text "We learned that a curve interval is the range of all parameter values that evaluate to points within the 3-D curve. There is, however, no guarantee that evaluating at the middle of the domain, for example, will give a point that is in the middle of the curve."},
               :properties {:color "yellow"}}],
 :extra {:page 57}}
