{:highlights [{:id #uuid "6578186d-a970-493a-9306-dffbe0c64c9e",
               :page 1,
               :position {:bounding {:x1 141.25,
                                     :y1 312.78125,
                                     :x2 907.4078369140625,
                                     :y2 349.578125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 141.25,
                                   :y1 312.78125,
                                   :x2 907.4078369140625,
                                   :y2 330.78125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 141.25,
                                   :y1 331.578125,
                                   :x2 567.5357666015625,
                                   :y2 349.578125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "The first double layer timber gridshell in the UK has recently been constructed as part of a new building for the Weald and Downland Open Air Museum in Sussex"},
               :properties {:color "yellow"}}
              {:id #uuid "65781883-5d02-4083-8476-6f27bb0ec855",
               :page 1,
               :position {:bounding {:x1 141.25,
                                     :y1 351.515625,
                                     :x2 911.44189453125,
                                     :y2 408.234375,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 883.859375,
                                   :y1 351.515625,
                                   :x2 911.15087890625,
                                   :y2 369.515625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 141.25,
                                   :y1 371.578125,
                                   :x2 828.607177734375,
                                   :y2 389.578125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 141.25,
                                   :y1 390.234375,
                                   :x2 911.44189453125,
                                   :y2 408.234375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "The reluctance to adopt this type of structure may stem from the difficulties associated with their construction, which entails the formation of the doubly curved final shape from an initial flat mat of laths"},
               :properties {:color "yellow"}}
              {:id #uuid "657818ba-5fc8-42b4-a3c2-cc37bc5bc7d8",
               :page 1,
               :position {:bounding {:x1 141.25,
                                     :y1 487.765625,
                                     :x2 852.411865234375,
                                     :y2 524.578125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 214.75,
                                   :y1 487.765625,
                                   :x2 852.411865234375,
                                   :y2 505.765625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 141.25,
                                   :y1 506.578125,
                                   :x2 226.27645874023438,
                                   :y2 524.578125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "Some of the solutions were highly innovative; an example of this is the patented nodal connection."},
               :properties {:color "green"}}
              {:id #uuid "657818cb-3ddf-49a9-aa85-e9bbdecd2e94",
               :page 1,
               :position {:bounding {:x1 156.197998046875,
                                     :y1 695.328125,
                                     :x2 817.627685546875,
                                     :y2 713.328125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 156.197998046875,
                                   :y1 695.328125,
                                   :x2 817.627685546875,
                                   :y2 713.328125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "shell is a three dimensional structure that resists applied loads through its inherent shape"},
               :properties {:color "green"}}
              {:id #uuid "657818d3-0ee7-4fca-a3bd-1e396a46665b",
               :page 1,
               :position {:bounding {:x1 141.25,
                                     :y1 695.328125,
                                     :x2 898.5767822265625,
                                     :y2 752.0625,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 847.0684814453125,
                                   :y1 695.328125,
                                   :x2 898.5767822265625,
                                   :y2 713.328125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 141.25,
                                   :y1 715.25,
                                   :x2 862.3800048828125,
                                   :y2 733.25,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 141.25,
                                   :y1 734.0625,
                                   :x2 445.3502197265625,
                                   :y2 752.0625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "regular holes are made in the shell, with the removed material concentrated into the remaining strips, the resulting structure is known as a gridshel"},
               :properties {:color "green"}}
              {:id #uuid "65781995-4f92-4537-ad9b-1772f9494163",
               :page 1,
               :position {:bounding {:x1 416.55633544921875,
                                     :y1 987.78125,
                                     :x2 575.8043212890625,
                                     :y2 1005.78125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 416.55633544921875,
                                   :y1 987.78125,
                                   :x2 575.8043212890625,
                                   :y2 1005.78125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "double layer gridshell"},
               :properties {:color "green"}}
              {:id #uuid "65781b00-7dd8-4b56-9e2f-baa33b6575a8",
               :page 2,
               :position {:bounding {:x1 141.25,
                                     :y1 424.0625,
                                     :x2 911.118408203125,
                                     :y2 480.796875,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 803.984375,
                                   :y1 424.0625,
                                   :x2 911.118408203125,
                                   :y2 442.0625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 141.25,
                                   :y1 443.984375,
                                   :x2 898.628173828125,
                                   :y2 461.984375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 141.25,
                                   :y1 462.796875,
                                   :x2 275.0762634277344,
                                   :y2 480.796875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "The reason for the apparent lack of enthusiasm may stem from the unique challenges associated with the design and formation process"},
               :properties {:color "green"}}],
 :extra {:page 2}}
