{:highlights [{:id #uuid "652425b4-097a-4175-950a-ee761f870cc5",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 29.33333396911621,
                                     :x2 905.96923828125,
                                     :y2 966.9271240234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 29.33333396911621,
                                   :x2 0,
                                   :y2 50.66666793823242,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 45.333335876464844,
                                   :x2 0,
                                   :y2 66.66667175292969,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 632.85693359375,
                                   :y1 908.9271240234375,
                                   :x2 871.2506713867188,
                                   :y2 926.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 525,
                                   :y1 928.9271240234375,
                                   :x2 905.96923828125,
                                   :y2 946.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 525,
                                   :y1 948.9271240234375,
                                   :x2 606.7247314453125,
                                   :y2 966.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 11},
               :content {:text "One key to maintaining healthy and resilient forests is to have product and market options for all materials"},
               :properties {:color "green"}}
              {:id #uuid "652425fa-4f39-4918-9c20-8512f8015bab",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 77.33333587646484,
                                     :x2 896.8883666992188,
                                     :y2 1046.9271240234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 77.33333587646484,
                                   :x2 0,
                                   :y2 98.66667175292969,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 93.33333587646484,
                                   :x2 0,
                                   :y2 114.66667175292969,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 109.33333587646484,
                                   :x2 0,
                                   :y2 130.6666717529297,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 636.5772705078125,
                                   :y1 968.9271240234375,
                                   :x2 886.068603515625,
                                   :y2 986.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 525,
                                   :y1 988.9271240234375,
                                   :x2 896.8883666992188,
                                   :y2 1006.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 525,
                                   :y1 1008.9271240234375,
                                   :x2 847.1702880859375,
                                   :y2 1026.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 525,
                                   :y1 1028.9271240234375,
                                   :x2 618.5042114257812,
                                   :y2 1046.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 11},
               :content {:text "wood materials can be processed into a wide range of materials, including lumber, engineered composites, carbonized materials, and cellulosic nanomaterials"},
               :properties {:color "green"}}
              {:id #uuid "65242610-e82b-43ff-a37f-3bf56a95e006",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 141.33334350585938,
                                     :x2 930.0236206054688,
                                     :y2 1146.9271240234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 141.33334350585938,
                                   :x2 0,
                                   :y2 162.6666717529297,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 157.33334350585938,
                                   :x2 0,
                                   :y2 178.6666717529297,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 173.33334350585938,
                                   :x2 0,
                                   :y2 194.6666717529297,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 189.33334350585938,
                                   :x2 0,
                                   :y2 210.6666717529297,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 735.5858154296875,
                                   :y1 1048.9271240234375,
                                   :x2 887.1551513671875,
                                   :y2 1066.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 525,
                                   :y1 1068.9271240234375,
                                   :x2 874.0023193359375,
                                   :y2 1086.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 525,
                                   :y1 1088.9271240234375,
                                   :x2 930.0236206054688,
                                   :y2 1106.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 525,
                                   :y1 1108.9271240234375,
                                   :x2 903.153564453125,
                                   :y2 1126.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 525,
                                   :y1 1128.9271240234375,
                                   :x2 860.609375,
                                   :y2 1146.9271240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 11},
               :content {:text "Timber sales and other removals of forest products support agency strategic objectives to foster resilient, adaptive ecosystems to mitigate wildfire risk and climate change, produce carbon-storing sustainable materials, and strengthen communities"},
               :properties {:color "green"}}
              {:id #uuid "65242706-331e-45b5-b7cf-480fdfb0276a",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 -2.6666667461395264,
                                     :x2 488.06988525390625,
                                     :y2 855.25,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 -2.6666667461395264,
                                   :x2 0,
                                   :y2 18.666667222976685,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 45.333335876464844,
                                   :x2 0,
                                   :y2 66.66667175292969,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 61.333335876464844,
                                   :x2 0,
                                   :y2 82.66667175292969,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 407.64202880859375,
                                   :y1 777.25,
                                   :x2 473.7763366699219,
                                   :y2 795.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 105,
                                   :y1 797.25,
                                   :x2 483.6427917480469,
                                   :y2 815.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 105,
                                   :y1 817.25,
                                   :x2 488.06988525390625,
                                   :y2 835.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 105,
                                   :y1 837.25,
                                   :x2 159.1748046875,
                                   :y2 855.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 12},
               :content {:text "forest and woodlands make up over one-third of the U.S. landscape and contain 1 trillion cubic feet (28.3 billion m3) of wood volume."},
               :properties {:color "green"}}
              {:id #uuid "65242732-ac43-4776-beee-bfb13dd04fe3",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 29.33333396911621,
                                     :x2 485.95391845703125,
                                     :y2 943.5833740234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 29.33333396911621,
                                   :x2 0,
                                   :y2 50.66666793823242,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 225.81008911132812,
                                   :y1 905.5833740234375,
                                   :x2 485.95391845703125,
                                   :y2 923.5833740234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 105,
                                   :y1 925.5833740234375,
                                   :x2 310.4915466308594,
                                   :y2 943.5833740234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 12},
               :content {:text "tree cutting and removal occurs on less than 2% of forest land per year"},
               :properties {:color "green"}}
              {:id #uuid "6524275b-9657-4d69-aecb-dd42ba89efaf",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 13.333328247070312,
                                     :x2 463.70556640625,
                                     :y2 1091.9166870117188,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 13.333328247070312,
                                   :x2 0,
                                   :y2 34.666656494140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 29.333328247070312,
                                   :x2 0,
                                   :y2 50.666656494140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 45.33332824707031,
                                   :x2 0,
                                   :y2 66.66665649414062,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 415.6097106933594,
                                   :y1 1013.9166870117188,
                                   :x2 446.1748046875,
                                   :y2 1031.9166870117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 105,
                                   :y1 1033.9166870117188,
                                   :x2 460.0343017578125,
                                   :y2 1051.9166870117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 105,
                                   :y1 1053.9166870117188,
                                   :x2 463.70556640625,
                                   :y2 1071.9166870117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 105,
                                   :y1 1073.9166870117188,
                                   :x2 454.02166748046875,
                                   :y2 1091.9166870117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 12},
               :content {:text "Low harvest rates, aging forests, mortality from insect and disease infestations, and extreme weather events have combined to create conditions that facilitate wildfire"},
               :properties {:color "green"}}],
 :extra {:page 12}}
